@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div id="page1">
    <div class="inner">
            <div class="main">
                <section id="content">
                    <div class="slider">
                        <ul class="items">
                            <li>
                                <img src="~/images/slider-img1.jpg" alt="" />
                                <div class="banner">
                                    <strong class="title">
                                        <strong>Hot</strong><em>Recipe</em>
                                    </strong>
                                    <p class="p3">Russion Salad:  Whipped cream on the Cocktail fruits to complement the fersh juice of red grapes. The delight of the taste.</p>
                                    <p>Look it up at Recipe</p>
                                </div>
                            </li>
                            <li>
                                <img src="~/images/slider-img2.jpg" alt="" />
                                <div class="banner">
                                    <strong class="title">
                                        <strong>Hot</strong><em>Recipe</em>
                                    </strong>
                                    <p>Fresh Salmon Sushie:  Raw Salmon Fish with red sause made from shell fish give new life to the tired soul.The delight of the taste.</p>
                                    <p>Look it up at Recipe</p>
                                </div>
                            </li>
                            <li>
                                <img src="~/images/slider-img3.jpg" alt="" />
                                <div class="banner">
                                    <strong class="title">
                                        <strong>Hot</strong><em>Recipe</em>
                                    </strong>
                                    <p>Italian Pie:   A Buttery Cheese crust with layer of Caremol and whipped cream, vinela spunch and a cherry on top.The delight of taste.</p>
                                    <p>Look it up at Recipe</p>
                                </div>
                            </li>
                        </ul>
                        <a class="banner-2" href="#"></a>
                    </div>
                    <ul class="pags">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                    <div class="bg">
                        <div class="padding">
                            <div class="wrapper">
                                <article class="col-1">
                                    <h3>Weight Loss Ideas</h3>
                                    <p>This goes without saying that you have to change your eating habbits.No Butter, cheese , milk, or soft drinks. Regilar exercise with planned diet.As you sow, so shall you reap.</p>
                                    <div class="relative">
                                        <a>Special Tip</a>
                                    </div>
                                </article>
                                <article class="col-1">
                                    <h3>Fast Food. Yes or No?</h3>
                                    <p>No fast food, Obviously, a good and healthy diet has good effects on your health and it doesn`t include fast food.If you are a fast food lover, keep it to a minimum.As you sow, so shall you reap.</p>
                                    <div class="relative">
                                        <a>Special Tip</a>
                                    </div>
                                </article>
                                <article class="col-2">
                                    <h3>Taste of Asia</h3>
                                    <p>Asians are lovers of spicy food. If the food doesn`t add spice the its no good. Chicken tikkah, Biryani, Malai boti aur red hot barbeque are the most favourite dishes in asia.The taste of Asia.</p>
                                    <div class="relative">
                                        <a>Special Tip</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="padding-2">
                        <div class="indent-top">
                            <div class="wrapper">
                                <article class="col-3">
                                    <h4><strong>Welcome</strong> <em>to My Site!</em></h4>
                                    <p class="color-2 p1">Hello , I am Maham, The head cheff and i am going to take you on a tastful journey.Stay tunned for the fresh hot recipes.</p>
                                    <p>Italian, Russian, Chinese, Asian and all the tastes of the world gathered at one place. This site gives you a platform to be a cheff yourself , so sign in right now and create your own cook book and share it wit the world.</p>
                                </article>
                                <div class="extra-wrap">
                                    <a href="#"><img src="~/images/banner-1.jpg" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="block"></div>
            </div>
        </div>
    
</div>
